<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="add.contact"
    android:versionCode="12"
    android:versionName="1.2" >

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
	<uses-permission android:name="android.permission.READ_PROFILE" />
    
    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="11" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault.Light.DarkActionBar" >
        <activity
            android:name=".AddContactMenu"
            android:label="@string/title_activity_menu"
            android:launchMode="standard" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewRecentContacts"
            android:label="@string/title_activity_view_recent_contacts" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.ListActivity" />
        </activity>
        <activity
            android:name=".AddFromDialpad"
            android:label="@string/title_activity_add_from_dialpad" >
        </activity>
        <activity
            android:name=".SetName"
            android:label="@string/title_activity_add_from_dialpad" >
        </activity>
        <activity
            android:name=".AddFromText"
            android:label="@string/title_activity_add_from_text" >
        </activity>
        <activity
            android:name=".HowToUse"
            android:label="@string/title_activity_how_to_use" >
        </activity>
    </application>

</manifest>